<div id="dd">
    <div id="form" style="text-align:center;width:80%">
        <span>旧&nbsp;密&nbsp;码:</span><input type="password" id="jpwd" class="easyui-validatebox" data-options="required:true,validType:'email'" /><br />
        <span>新&nbsp;密&nbsp;码:</span><input type="password" id="xpwd" class="easyui-validatebox" data-options="required:true,validType:'email'" /><br />
        <span>确认密码:</span><input type="password" id="qpwd" class="easyui-validatebox" data-options="required:true,validType:'email'" />
    </div>
</div>

<script type="text/javascript">
    $('#dd').dialog({
        title: '修改密码',
        width: 400,
        height: 200,
        closed: false,
        cache: false,
        shadow: true,
        resizable: false,
        draggable: false,
        closable: false,
        modal: true,
        buttons: [{
            text: '确定',
            handler: function ()
            {
                $('#jpwd').validatebox({
                    required: true,
                    validType: 'pwd'
                });
                $('#xpwd').validatebox({
                    required: true,
                    validType: 'pwd'
                });
                $('#qpwd').validatebox({
                    required: true,
                    validType: 'equals["xpwd"]'
                });
                var ok = $("#jpwd").validatebox("isValid") && $("#xpwd").validatebox("isValid") && $("#qpwd").validatebox("isValid");
                if (!ok)
                {
                    return null;
                }
                $.ajax({
                    type: "post",
                    url: "/Student/RePasswordIn",
                    data: {
                        jpwd: $("#jpwd").val(),
                        xpwd: $("#xpwd").val(),
                        qpwd: $("#qpwd").val(),
                    },
                    success: function (data)
                    {
                        if (data.status == "1")
                        {
                            $.messager.alert("提示", data.msg, "info");
                            $("#operation").empty();
                            $(".window").remove();
                            $(".window-shadow").remove();
                            $(".window-mask").remove();
                        }
                        else
                        {
                            $.messager.alert("提示", data.msg, "error");
                        }
                    }
                })
            }
        }, {
            text: '取消',
            handler: function ()
            {
                $("#operation").empty();
                $(".window").remove();
                $(".window-shadow").remove();
                $(".window-mask").remove();
            }
        }]

    });
    $('#jpwd').blur(function ()
    {
        $('#jpwd').validatebox({
            required: true,
            validType: 'pwd'
        });
    });
    $('#xpwd').blur(function ()
    {
        $('#xpwd').validatebox({
            required: true,
            validType: 'pwd'
        });
    });
    $('#qpwd').blur(function ()
    {
        $('#qpwd').validatebox({
            required: true,
            validType: 'equals["xpwd"]'
        });
    });
</script>
<style>
    #form {
        text-align: right;
        width: 220px;
        margin: auto;
        margin-top: 20px;
    }
</style>