
<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="大连工业大学,无机材料实验教学中心,无机材料,实验教学中心,无机材料研究所,辽宁省重点实验室,硅酸盐工程实验室" />
    <meta name="description" content="大连工业大学无机材料实验室，原为硅酸盐工程实验室，始建于1958年，是我校建校初始就创建的实验室之一。经过50余年的发展，已经逐步形成了以玻璃、陶瓷材料为教学实验，以无机新材料为研究实验的特色人才培养体系，注重实践与创新能力的培养和建设，并取得了辉煌的成绩。" />
    <title>无机材料实验教学中心-中心概况</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!----font-Awesome----->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!----font-Awesome----->
    <style type="text/css">
        #general {
            width: 86%;
            text-indent: 2em;
            margin: auto;
        }
        #video {
            float:right;
        }
        
    </style>
    <script>
        window.onload = function ()
        {
            var a = navigator.appVersion;
            var patt1 = new RegExp(/MSIE \d\d?/);
            var b = patt1.exec(a) + "";
            b = parseInt(b.split("MSIE ")[1])
            if (b < 9)
            {
                location.href = "/Home/BrowserError";
            }
        }
    </script>

</head>
<body>
    <div class="header_bg1" style="background: url('/images/head4.png') no-repeat left;">
        <div class="container">
            <div class="row header">
                <div class="logo navbar-left">
                    <h1><a href="/Home/Index">无机材料实验教学中心 </a></h1>
                    <p>Experimental Teaching Center of Inorganic Materials</p>
                </div>
                <div class="h_search navbar-right">
                    <form action="http://cn.bing.com/search" target="_blank">
                        <input type="text" class="text" name="q" value="搜索内容" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索内容';}">
                        <input type="submit" value="搜索">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Home/Head.cshtml")
    <script>
        $("#li2").addClass("active");
    </script>

        <div class="clearfix"></div>
   
    <div class="main_bg">
        <!-- start main -->
        <div class="content_right" id="general">
            <h4>中心建设、发展历程</h4><div id="video"><div id="a1"></div></div>

            <p class="para" style="font-size:14px;color:#333333;font-family:open_sansregular;text-indent:2em;background-color:#FFFFFF;">
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">大连工业大学无机材料实验室，原为硅酸盐工程实验室，始建于<span>1958</span>年，是我校建校初始就创建的实验室之一。经过<span>50</span>余年的发展，已经逐步形成了以玻璃、陶瓷材料为教学实验，以无机新材料为研究实验的特色人才培养体系，注重实践与创新能力的培养和建设，并取得了辉煌的成绩。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">1959</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">年开始招收本科学生，<span>1979</span>年开始招收硕士研究生，<span>1986</span>年享有材料学硕士学位授予权</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">，</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">是我校首位获得硕士学位授予权的学科。从<span>1987</span>年开始与中科院上海硅酸盐所、浙江大学、大连理工大学等联合招收博士研究生</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">，</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">并先后与日本、俄罗斯等国进行了</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">教学科研</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">合作。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">实验室创建初始，在王承遇、蔡英冀、李家驹等一批老教授的带领下</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;"></span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;"></span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;"></span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">，玻璃及非晶态材料学科，在离子扩散、离子注入、玻璃风化、脱色、玻璃表面处理方面作出了创造性的研究工作。他们研制的国家重点工程所需泡沫玻璃，主持的国家自然科学基金项目“玻璃中离子注入对晶化的影响”，国家星火项目“慢释放硒多孔玻璃”，以及国家轻工业部下达的“玻璃脱色研究”、“钨渣处理和综合利用”“玻璃表面装饰”“人造珠宝”等<span>12</span>项省、市级科研项目，多项填补了国内空白。王承遇教授对吸音泡沫玻璃成份、发泡工艺、气泡结构与吸音系数提出了定量关系式，从而使研制的泡沫玻璃低频吸音系数达到重点工程要求，获全国科学大会奖、辽宁省重大科技成果奖</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">。<span>1986</span>年</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">王承遇</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">教授荣获</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">了</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">首批国家科委授予</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">的</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">“国家级有突出贡献的中青年专家”。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:宋体;">在老一辈科学家多年科研积累的基础上，无机材料工程教学实验中心一直在不断发展</span><span style="font-size:14.0pt;line-height:125%;font-family:&quot;">、</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">进步，目前中心有辽宁省教学名师</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">1</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">名，辽宁省</span><span style="font-size:14.0pt;line-height:125%;font-family:&quot;">“</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">百千万人才工程</span><span style="font-size:14.0pt;line-height:125%;font-family:&quot;">”</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">百人层次</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">1</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">名，千人层次</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">1</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">名</span><span style="font-size:14.0pt;line-height:125%;font-family:&quot;">。</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">近三年来，中心人员积极参与横向和纵向科研项目</span><span style="font-size:14.0pt;line-height:125%;font-family:&quot;">、</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">教学改革</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;"></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span> </span>
            </p>
           

                            <img src="~/images/SJYQKJH4L52YICG({2_T2BV.jpg" style="float:left;padding:20px;" />
                  
            <span style="font-size:12.0pt;line-height:125%;font-family:宋体;"></span>
            <p>
                <br />
            </p>
            <p class="MsoNormal">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">和创新实验项目，承担国家自然科学基金、<span>863</span>项目等</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">共</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">5</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">项，获得经费<span>417</span>万元；辽宁省自然科学基金项目、辽宁省教育厅科学技术基金项目、教育部留学归国科研启动基金项目、大连市科委项目、大连市建委项目等共计<span>14</span>项，经费<span>153.5</span>万元；与企业合作研发、委托研发等项目共计<span>20</span>项，经费为<span>275.39</span>万元。发表学术论文<span>128</span>篇，其中<span>SCI</span>收录<span>36</span>篇，<span>EI</span>收录<span>54</span>篇，核心期刊<span>38</span>篇，申请专利<span>22</span>项，</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">已</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">授权<span>8</span>项；主编出版教材<span>2</span>部，参编<span>1</span>部；获得省级教改项目<span>1</span>项，省级精品课程<span>1</span>项，校级教改项目<span>3</span>项，校级教学成果三等奖<span>1</span>项，校级精品实践环节<span>3</span>项，校级精品课程<span>1</span>项，发表教学论文<span>6</span></span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">篇</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;">2007</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">年本中心所属材料及改性实验室成功获得省级重点实验室，</span><span style="font-size:14.0pt;line-height:125%;">2008</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">年被评为省级示范专业，省级教学团队，</span><span style="font-size:14.0pt;line-height:125%;">2010</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">年获批</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">大连市经信委平台项目太阳能光伏技术创新平台与公共测试平台</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">，</span><span style="font-size:14.0pt;line-height:125%;">1999</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">年被批准为无机材料工程工程硕士培养基地，成为东北地区唯一一家以传统玻璃与陶瓷材料为本科教学中心，以无机新材料为研究生教学中心的多层次学科授予权的学科，为辽宁</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">省</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">材料行业培养了数千名高级技术人才。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">实验教学中心的宗旨是“服务于本科教学，服务于地方建设”。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">建设方针是“ 统筹全局，分项建设，突出特色，实现共享。”<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">近年来，本中心获得中央与地方共建基金<span>500</span>万元，日资银行贷款项目<span>300</span>万元，学校每年投入的实验教学运行、仪器设备维修、实验室改造以及学科建设专项</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">经费</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">等<span>100</span>余万元，这些专项资金的陆续投入使实验室的软硬件条件得到了进一步完善。<span>2010</span>年学校重新调整了实验室规划与布局，使中心的资源和管理更加充分合理地满足教学、科研和学生实践的要求。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">实验中心现有面积<span>2040m<sup>2</sup></span>，设备台（套）数<span>256</span>件，仪器设备总价值<span>1536</span>万元。现有人员<span>20</span>人，其中具有博士学位的占<span>50%</span>，高级职称的占<span>72%</span>，体现了高素质的师资队伍需求。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">实验中心重视实验环境与安全的建设，制定有专门的环境与安全管理规章制度，实验室宽敞明亮，布局合理，照明设施完好，易燃、易爆、易污染物品设有专人负责。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">实验中心共设有专业基础实验平台、专业实验平台、综合创新实验平台等三个平台，拥有无机非金属材料研究所、与锦州新世纪石英玻璃有限公司校企合作新能源材料研究院，与辽宁喀左政府合作的紫砂产品研发中心，为三个平台、两个研究所和一个中心配备的三个实验室，分别为材料结构与性能表征实验室（此处画面打出材料结构与表征实验室），拥有<span>x-</span>射线衍射仪、电子透射显微镜、扫描电子显微镜、红外光谱仪、可见<span>-</span>紫外光谱仪、荧光光谱仪、原子吸收、核磁共振、激光粒度仪，高温表面张力粘度计，旋转粘度计（日本产），高温差热分析仪，差热天平热膨胀系数仪</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">；</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">材料成型与制备实验室</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">配</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">有磁控溅射镀膜</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">机</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">、丝网印刷、激光刻蚀、压砖机、压片机、等静压</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">层</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">压机、真空干燥箱、超音速气流粉碎机，电子万能试验机等等（此处画面打出材料成型实验室）。材料烧结实验室配有高温烧结炉、中温烧结炉、低温烧结炉、微波烧结炉、气氛保护炉等。（打出材料烧结实验室字样）。此外我们还重视自主研发教学实验装置和材料制备设备，磁性材料性能观测装置、中试磁控溅射镀膜设备等，具有陶瓷模拟生产、玻璃模拟生产和无机新材料研制的能力。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">专业基础实验平台主要承担无机材料专业、材料化学专业的本科教学实验任务</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">，</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">开设无机材料科学基础实验、粉体工程实验、热工过程与设备实验、材料测试与研究方法实验</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">等，</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">共<span>6</span>个综合实验和<span>22</span>个验证性实验；专业实验平台主要承担无机非金属材料专业方向、材料化学专业方向、电子信息材料专业方向</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">的</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">本科教学实验</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">，</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">8</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">个综合实验、<span>8</span>个设计型实验和<span>28</span>个验证性实验。创新实验平台以本专业为主，面向全校开放，充分发挥资源共享的优势，成为以无机材料工程为基础的全校范围内大学生的创新实验活动平台，学生可以随时进入实验室进行研究活动，取得了丰硕的成果。近三年</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">来，有近千人、十几个专业的学生进入实验中心进行实验，实现了全校性的资源共享。</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">在中心教师的指导下，材料类近百名学生参加了自主实验活动、<span>13</span>项挑战杯大赛和大学生创新创业训练，分别获得了“挑战杯”国家三等奖一项，省特等奖一项，省一等奖二项，省二等奖七项，省三等奖三项；国家级大学生创新创业训练项目<span>1</span>项，校级大学生创新创业训练项目<span>6</span>项。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">中心所拥有的制备和测试设备面向全校开放，可为高分子专业、轻化</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">工</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">专业、化</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">学</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">工艺专业、纺织专业、印包专业、环境、应化、生物工程、机械等专业服务，使资源得到最大共享和利用。本中心不仅与企业有多项联合开发研究的应用项目，还注重与企业联合培养本科</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">生</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">、硕士研究生、工程硕士研究生等多层次人才，已有多人在企业进行毕业论文的研究工作。<span></span></span>
            </p>
            <p class="MsoNormal" style="text-indent:24.1pt;">
                <span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">立足于材料行业校企合作，从强化学生实践能力和创新能力出发，以辽宁地区社会经济发展为契机，结合无机材料工程学科专业为特色优势，通过整合实验资源，完善师资队伍建设，将实验中心打造成具有一流师资队伍，一流实验环境，一流教学质量的</span><span style="font-size:14.0pt;line-height:125%;font-family:宋体;">，</span><span style="font-size:14.0pt;line-height:125%;font-family:仿宋_GB2312;">具有区域经济社会发展特色的，开放式的省级材料工程类的实验教学示范中心。<span></span></span>
            </p>
            </p>



            <script src="~/ckplayer/ckplayer.js"></script>
            <script type="text/javascript">
                var flashvars = {
                    f: '../../Video/无机材料实验教学中心.flv',//视频地址
                    a: '',//调用时的参数，只有当s>0的时候有效
                    s: '0',//调用方式，0=普通方法（f=视频地址），1=网址形式,2=xml形式，3=swf形式(s>0时f=网址，配合a来完成对地址的组装)
                    c: '0',//是否读取文本配置,0不是，1是
                    x: '',//调用xml风格路径，为空的话将使用ckplayer.js的配置
                    i: '',//初始图片地址
                    d: '',//暂停时播放的广告，swf/图片
                    u: '',//暂停时如果是图片的话，加个链接地址
                    l: '',//视频开始前播放的广告，swf/图片/视频
                    r: '',//视频开始前播放图片/视频时加一个链接地址
                    t: '5',//视频开始前播放swf/图片时的时间
                    e: '3',//视频结束后的动作，0是调用js函数，1是循环播放，2是暂停播放，3是调用视频推荐列表的插件
                    v: '80',//默认音量，0-100之间
                    p: '0',//视频默认0是暂停，1是播放
                    h: '1',//播放http视频流时采用何种拖动方法，0是按关键帧，1是按关键时间点
                    q: '',//视频流拖动时参考函数，默认是start
                    m: '0',//默认是否采用点击播放按钮后再加载视频，0不是，1是,设置成1时不要有前置广告
                    g: '',//视频直接g秒开始播放
                    j: '',//视频提前j秒结束
                    k: '',//提示点时间，如 30|60鼠标经过进度栏30秒，60秒会提示n指定的相应的文字
                    n: '',//提示点文字，跟k配合使用，如 提示点1|提示点2
                    b: '0x000',//播放器的背景色，如果不设置的话将默认透明
                    w: ''//指定调用自己配置的文本文件,不指定将默认调用和播放器同名的txt文件
                    //调用播放器的所有参数列表结束
                };
                var params = { bgcolor: '#000000', allowFullScreen: true, allowScriptAccess: 'always' };//这里定义播放器的其它参数如背景色（跟flashvars中的b不同），是否支持全屏，是否支持交互
                var attributes = { id: 'ckplayer_a1', name: 'ckplayer_a1' };
                //下面一行是调用播放器了，括号里的参数含义：（播放器文件，要显示在的div容器，宽，高，需要flash的版本，当用户没有该版本的提示，加载初始化参数，加载设置参数如背景，加载attributes参数，主要用来设置播放器的id）
                swfobject.embedSWF('../../ckplayer/ckplayer.swf', 'a1', '600', '400', '10.0.0', '../../ckplayer/expressInstall.swf', flashvars, params, attributes); //播放器地址，容器id，宽，高，需要flash插件的版本，flashvars,params,attributes
                //调用播放器结束
            </script>

        </div>



    </div><!-- end main -->
    @Html.Partial("~/Views/Home/foot.cshtml")
</body>
</html>