/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v4/-v6-DSWC3BhduHBfSfXFpA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/oxygen/v4/OFgyER5uFw7Cy-F01PjbVg.woff) format('woff');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v4/78wGxsHfFBzG7bRkpfRnCQ.woff2) format('woff2'), url(https://fonts.gstatic.com/s/oxygen/v4/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
